@font-face { 
  font-family: 'Montserrat'; 
  font-style: normal; 
  font-weight: 400; 
  font-display: swap;
  src: local('Montserrat'), 
    url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff') format('woff'); 
} 

@font-face { 
  font-family: 'Montserrat'; 
  font-style: normal; 
  font-weight: 500; 
  font-display: swap;
  src: local('Montserrat'), 
    url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Medium.woff') format('woff'); 
} 

@font-face { 
  font-family: 'Montserrat'; 
  font-style: normal; 
  font-weight: 600; 
  font-display: swap;
  src: local('Montserrat'), 
    url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff'); 
} 

@font-face { 
  font-family: 'Montserrat'; 
  font-style: normal; 
  font-weight: 700; 
  font-display: swap;
  src: local('Montserrat'), 
    url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../assets//fonts/Montserrat-Bold.woff') format('woff'); 
} 

@font-face { 
  font-family: 'Montserrat'; 
  font-style: normal; 
  font-weight: 800; 
  font-display: swap;
  src: local('Montserrat'), 
    url('../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-ExtraBold.woff') format('woff'); 
} 

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: var(--color-mercury);
}

img {
  max-width: 100%;
  object-fit: cover;
}

:root {
  --color-black: #000000;
  --color-christine: #e1670e;
  --color-conifer: #97ee3f;
  --color-dove-gray: #666666;
  --color-gray: #808080;
  --color-mercury: #e5e5e5;
  --color-orange-peel: #ff9900;
  --color-silver: #cacaca;
  --color-texas-rose: #ffb84d;  
  --color-tundora: #414141;
  --color-white: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
  width: 100%;
}

.header {
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 0px 0px 32px 32px;
  background-color: var(--color-white);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 85px;
}

.header__logo {
  margin-right: auto;
}

.header__logo:focus {
  outline: 2px solid var(--color-orange-peel);
  outline-offset: 5px;
}

.nav__list {
  display: flex;
  gap: 85px;
  list-style: none;
}

.nav__link {
  position: relative;
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;  
}

.nav__link:focus {
  outline: 2px solid var(--color-orange-peel);
  outline-offset: 5px;
}

.nav__link:active {
  outline: none;
  color: var(--color-christine);
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-orange-peel);
  transition: width .2s;
}

.nav__link:focus::after {
  background-color: transparent;
}

.nav__link:hover::after {
  width: 100%;
}

.nav__link:active::after {
  width: 100%;
  background-color: var(--color-christine);
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}

.search-btn__img {
  width: 24px;
  height: 24px;
  stroke: var(--color-black);
}